@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
}

.ant-menu-item:hover,
.ant-menu-submenu:hover,
.ant-menu-submenu-title:hover {
  color: red !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 30px;
  left: 40px;
  z-index: 2;
  color: white;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 30px;
  right: 40px;
  z-index: 2;
  color: white;
}

.home-service > .ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 15px;
  left: -40px;
  z-index: 2;
  color: white;
  background-color: black;
  border-radius: 50%;
}

.home-service > .ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 15px;
  right: -40px;
  z-index: 2;
  color: white;
  background-color: black;
  border-radius: 50%;
}
